/**= Main Stuff =**/
body {
    margin: auto;
}

@font-face {
    font-family: 'UndefinedMedium'; /*a name to be used later*/
    src: url('undefined-medium.ttf'); /*URL to font*/
}


* {
    --bg-color: #fafafa;
    --text-color: #0c0c0c;
    --acent-text-color: #f2f348;

    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: UndefinedMedium;
}

a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
}

/**= Sections =**/
.home-section {
    display: flex;
    width: 100%;
    height: 700px;
    background-color: #0c0c0c;
}




/**= Navigation Header =**/
.nav-container {
    display: flex;
    width: 90%;
    text-align: center;
    align-items: center;
    
    padding-bottom: 10px;
    padding-top: 10px;

    margin-left: auto;
    margin-right: auto;
}

.nav-logo {
    float: left;
    display: flex;
    height: auto;

    margin-right: auto;
}
.nav-logo img {
    width: 64px;
}

.nav-menu {
    float: right;
    display: flex;
    
    margin-left: auto;
}

.nav-link { padding: 0px 12px }
.nav-link a {
    font-size: 18px;

    text-align: center;
    
    margin-top: 1vh;
    
    --s: 0.1em;   /* the thickness of the line */
    --c: #3452eb; /* the color */
    

    color: #0000;
    padding-bottom: var(--s);
    background: 
    linear-gradient(90deg,var(--c) 50%,var(--text-color) 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;

    transition: 250ms;
}
.nav-link a:hover {
    --_p: 100%;
}

/*
#93c8fe
#5fd78b
#fe8178*/